ul.card_logos {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.card_visa, .card_mastercard, .card_amex, .card_discover, .card_diners, .card_jcb {
	display: inline-block;
	width: 51px;
	height: 32px;
	overflow: hidden;
	text-align: left;
	text-indent: -999px;
	background: url(sprite-cards.png) 0 0 no-repeat;
}

.card_mastercard { background-position: -51px 0; }
.card_amex       { background-position: -102px 0; }
.card_discover   { background-position: -153px 0; }
.card_diners     { background-position: -204px 0; }
.card_jcb        { background-position: -255px 0; }

.card_visa.off       { background-position: 0px -32px; }
.card_mastercard.off { background-position: -51px -32px; }
.card_amex.off       { background-position: -102px -32px; }
.card_discover.off   { background-position: -153px -32px; }
.card_diners.off     { background-position: -204px -32px; }
.card_jcb.off        { background-position: -255px -32px; }

.card_logos li {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}